* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: content-box;
  cursor: pointer;
}
.arrow-icon {
  background: rgb(113, 148, 246);
  color: white;
  opacity: 0.9;
  font-size: 30px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  animation: spin 1s steps(12) infinite;
}
@keyframes spin {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.arrow {
  position: fixed;
  top: 80%;
  z-index: 1;
  left: 97%;
  bottom: 0;
}
/* nav-bar */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.icons-cont {
  font-size: 25px;
  padding: 10px;
  display: none;
}
.menu {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.list li {
  padding: 10px 10px 4px 10px;
  font-size: 19px;
}
.unlist li a {
  color: #ef7998;
}
.unlist li {
  font-family: cursive;
  padding: 10px 10px 4px 10px;
  font-size: 21px;
  border-bottom: 2px solid transparent;
}

.unlist li::after {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 3px;
  background-color: steelblue;
  transition: 0.5s;
}

.unlist li:hover::after {
  width: 100%;
}

.contact1 {
  border: 1px solid;
  font-size: 19px;
  border-radius: 4px;
  width: 150px;
  height: 39px;
  text-align: center;
  padding-top: 8px;
}
/* first banner */
.first-banner-wrapper {
  background-image: url("./img/headerBcg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;
}
.write-up {
  background-color: #f5eac2;
  height: 600px;
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 500;
  font-family: cursive;
}
.welcome-text {
  color: #fff;
}
.grandma {
  font-family: cursive;
  color: #ef7998;
  font-weight: 600;
}
.banner-btn {
  width: 120px;
  height: 39px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 4px;
}
/* about us section */
.gold-img {
  width: 476px;
  height: 259px;
  position: absolute;
  top: 30px;
  left: 29px;
}
.aboutus-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
}
.about-us-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.gold {
  display: flex;
  position: relative;
  justify-content: center;
  border: 8px solid #f9e494;
  height: 250px;
  width: 500px;
}

.aboutus-text {
  font-family: cursive;
  width: 40%;
  font-size: 15px;
}
.about-btn {
  width: 100px;
  height: 30px;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 4px;
}
.us {
  font-family: cursive;
  color: #ef7998;
  font-size: 29px;
}
/* our store section */
.store-btn {
  width: auto;
  height: 30px;
  font-size: 15px;
  font-family: cursive;
  margin: 5px;
  text-align: center;
}
.ourstore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.our-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 55%;
}

.overall-ourstore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
}
.search {
  width: 230px;
  padding-left: 5px;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: cursive;
  text-align: start;
}
.search-icon {
  padding-left: 4px;
  font-size: 15px;
  width: 25px;
  height: 25px;
  background-color: #ef7998;
}
.search-container {
  border: 1px solid black;
  margin: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgs {
  width: 100%;
  height: 200px;
}
.my-overall-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-img {
  display: grid;
  justify-items: center;
  width: 89%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 10px;
  grid-column: 20px;
}
.content {
  align-items: center;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: end;
}
.overall-img {
  box-shadow: 1px 1px 2px 1px gray;
  opacity: 1;
  width: 97%;
  margin: 10px;
  background-color: #fff;
  height: auto;
}
/* .overall-img {
  opacity: 0;
} */
.overall-img.show {
  box-shadow: 1px 1px 2px 1px gray;
  opacity: 1;
  width: 97%;
  margin: 10px;
  background-color: #fff;
  height: auto;
  animation: move 1s steps(12) forwards;
}
/* mobile section */
.mobile {
  background: gainsboro;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  clip-path: circle(150px at 100% -30%);
  transition: 0.9s;
}
.mobile.more {
  clip-path: circle(1500px at 100% -30%);
}
.mobile-unlist li {
  padding: 20px;
}
.list-mobile li {
  padding: 20px;
}
.contact1-mobile {
  border: 1px solid black;
  padding: 7px;
  border-radius: 3px;
}
.time-icon {
  position: absolute;
  right: 37px;
  font-size: 55px;
  font-weight: 500;
}
@keyframes move {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 900px) {
  .our-img {
    display: grid;
    justify-items: center;
    width: 89%;
    grid-template-columns: 1fr 1fr;
    grid-row: 10px;
    grid-column: 20px;
  }
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .icons-cont {
    display: block;
  }
  .logo {
    padding-left: 38px;
  }
  .aboutus-text {
    margin-bottom: 35px;
  }
  .aboust-pic {
    margin: 10px 10px;
  }
}
@media screen and (max-width: 620px) {
  .gold {
    display: flex;
    position: relative;
    justify-content: center;
    border: 8px solid #f9e494;
    height: 240px;
    width: 450px;
  }
  .aboust-pic {
    margin: 0 20px 10px auto;
  }
  .gold-img {
    width: 426px;
    height: 249px;
    position: absolute;
    top: 30px;
    left: 29px;
  }
}
@media screen and (max-width: 542px) {
  .our-img {
    display: grid;
    justify-items: center;
    width: 80%;
    grid-template-columns: 1fr;
    grid-row: 10px;
    grid-column: 20px;
  }
  .gold {
    display: flex;
    position: relative;
    justify-content: center;
    border: 8px solid #f9e494;
    height: 200px;
    width: 400px;
  }
  .aboust-pic {
    margin: 0 30px 20px auto;
  }
  .gold-img {
    width: 385px;
    height: 209px;
    position: absolute;
    top: 30px;
    left: 29px;
  }
}

@media screen and (max-width: 408px) {
  .gold {
    display: flex;
    position: relative;
    justify-content: center;
    border: 8px solid #f9e494;
    height: 150px;
    width: 300px;
  }
  .aboust-pic {
    margin: auto 40px 50px auto;
    padding-left: 30px;
  }
  .aboutus-text {
    width: 83%;
  }
  .gold-img {
    width: 285px;
    height: 189px;
    position: absolute;
    top: 30px;
    left: 11px;
  }
}
